body{
    margin: 0;
    padding: 0;
}
/** Images section **/
.heading{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: calc(110% + 30px);
}
.sub-heading{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: calc(100% + 20px);
}
.medium-text{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: calc(90% + 10px);
}
